.page-footer{
  background-color: $bg-color-green;
  color: $color-white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  @include flexContainer(center);
  flex-direction: column;
  padding: 13px;
  &__text{
    text-align: center;
    line-height: 1.1em;
  }
  &__logo{
    display: none;
  }
}
