@media screen and(min-width: 640px){
  .page-header{
    font-size: 2.4rem;
    &__title{
      padding: 26px 39px;
    }
    &__burger-menu{
      grid-gap: 4px;
      padding: 28px;
    }
    &__stripes {
      width: 31px;
      height: 4px;
    }
    &__cross {
      display: none;
      margin: -4px 10px -5px;
      background: $color-white;
      height: 22px;
      position: relative;
      width: 5px;
      transform: rotate(45deg);
    }
    &__cross:after{
      background: $color-white;
      content: "";
      height: 5px;
      left: -8.5px;
      position: absolute;
      top: 8.5px;
      width: 22px;
    }
    &__menu{
      top: 75px;
    }
    &__menu-item{
      width: 245px;
    }
    &__menu-link:link,
    &__menu-link:visited {
     padding-left: 28px;
     font-size: 1.4rem;
    }
    &__menu-link:hover,
    &__menu-link:active{
      background-color: transparent;
    }


  }
  .hero-section{
    background-image: url("../img/hero-section-bg-640.png");
    padding: 30px 38px 197px;

    &__page-slogan{
      font-size: 3.6rem;
      margin-bottom: 22px;
    }
    &__sub-slogan{
      font-size: 2.4rem;

    }

  }
  .menu-links{
    grid-gap: 3px;
    &__link-item{
      font-size: 3.6rem;
    }
    &__link-img{
      padding-top: 59px;
      padding-bottom: 63px;
    }
    &__arrow-container{
      padding-top:70px;
      padding-bottom: 74px;
    }
    &__arrow-right{
      width: 14px;
      height: 14px;
      border-top: 3px solid $color-white;
      border-right: 3px solid $color-white;
    }
  }
  .main-menu{
    margin-top: 45px;
    &__section-wrap{
      padding-bottom:80px;
    }
    &__title{
      font-size: 4rem;
      padding-left: 19px;
    }
    &__subtitle{
      font-size: 2rem;
      margin-top: 7px;
      margin-bottom: 20px;
      padding-left: 19px;

    }
    &__section-title{
      font-size: 4rem;
      padding: 23px 38px;

    }
    &__section-subtitle{
      margin-top: 38px;
      margin-bottom: 43px;
      padding-left: 38px;
      padding-right: 38px;
    }

    &__section-subtitle-text{
      font-size: 3rem;
    }
    &__section-subtitle-icon{
      font-size: 3.5rem;
    }
    &__item{
      grid-template-columns: 5fr 1fr;
      grid-gap: 20px;
      padding-left: 38px;
      padding-right: 38px;
      &--mb-m{
        margin-bottom: 25px;
      }
      &--mb-l{
        margin-bottom: 40px;
      }
    }
    &__item-name{
      font-size: 2.7rem;
    }
    &__item-name-marker{
      font-size: 1rem;
    }
    &__item-price{
      font-size: 2.7rem;
    }
    &__item-desc{
      font-size: 1.75rem;
    }
  }
  .page-footer{
    font-size: 1.8rem;
    padding: 28px;
  }
}
@media screen and(min-width: 980px){
  .page-header{
    padding-left:29px;
    padding-right: 29px;
    &__title{
      display: none;
    }
    &__burger-menu{
      display: none;
    }
    &__menu{
      display: flex !important;
      position: static;
      width: 80%;
    }
    &__logo{
      display: block;
    }
    &__menu-list{
      @include flexContainer(flex-start);
      width: 100%;
      flex-direction: row;
      padding-top:  42px;
      padding-bottom: 42px;
      background-color: transparent;
    }
    &__menu-item{
      width: auto;
      &--margin-r{
        margin-right: 33px;
      }
    }
    &__menu-link:link,
    &__menu-link:visited{
      padding: 0;
      text-transform: uppercase;
      color: #ebebeb;
      font-size: 1.5rem;
      border: none;
    }
  }
  .hero-section{
    background-image: url("../img/hero-section-bg-980.png");
    padding: 64px 30px 260px;
    &__page-slogan{
      font-size: 5.4rem;
      margin-bottom: 58px;
    }
    &__sub-slogan{
      font-size: 3.4rem;
    }

  }
  .menu-links{
    padding-top: 6px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 0;
    &__link-item{
    font-size: 3.8rem;
    }
    &__link-img{
      padding-top: 145px;
      padding-bottom: 150px;
      width: 100%;
    }
    &__arrow-container{
      display: none;
    }
  }
  .main-menu{
    margin-top: 74px;
    &__section-wrap{
      padding-bottom:18px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
    }

    &__title{
      font-size: 3.4rem;
      padding-left: 31px;
      position: relative;
    }
    &__title:after{
      content:'';
      background-image: url('../img/Menu logo.png');
      width: 109px;
      height: 89px;
      position: absolute;
      right: 24px;
      top:-24px;
    }

    &__subtitle{
      margin-top: 9px;
      padding-left: 31px;

    }
    &__section-title{
      font-size: 3.4rem;
      padding: 29px 19px 23px;

    }
    &__section-subtitle{
      margin-top: 43px;
      margin-bottom: 50px;
      padding-left: 18px;
      padding-right: 18px;
    }

    &__section-subtitle-text{
      font-size: 2.4rem;
    }
    &__section-subtitle-icon{
      font-size: 3rem;
    }
    &__item{
      padding-left: 18px;
      padding-right: 18px;
      &--mb-l{
        margin-bottom: 70px;
      }
    }
    &__item-name{
      font-size: 2.4rem;
    }

    &__item-price{
      font-size: 2.4rem;
    }
    &__item-desc{
      font-size: 1.6rem;
    }



  }
  .page-footer{
    flex-direction: row;
    justify-content: flex-start;
    padding: 38px 30px;
    &__logo{
      display: flex;
      text-decoration: none;
      margin-right: calc(100% - 720px);
    }
  }
}
@media screen and(min-width: 1200px){
.page-header{
  padding-left:36px;
  padding-right: 36px;
  &__menu-link:link,
  &__menu-link:visited{
    color: $color-white;
  }
}
.hero-section{
  background-image: url("../img/hero-section-bg-1200.png");
  background-size: 100% 100%;
  padding: 58px 37px 467px;
  &__page-slogan{
    font-size: 6.2rem;
    margin-bottom: 53px;
  }
  &__sub-slogan{
    font-size: 3.8rem;
  }

}
.menu-links{
  &__link-item{
    font-size: 4.3rem;
  }
  &__link-img{
    padding-top: 182px;
    padding-bottom: 178px;
    width: 100%;
  }
}
.main-menu{
  margin-top: 77px;
  &__title{
    font-size: 4rem;
    padding-left: 19px;
  }
  &__title:after{
    right: 19px;
  }
  &__subtitle{
    margin-top: 7px;
    padding-left: 19px;
  }
  &__section-title{
    font-size: 4rem;
    padding: 23px 17px 23px;
  }
  &__section-subtitle{
    margin-top: 38px;
    margin-bottom: 43px;
    padding-left: 22px;
    padding-right: 22px;
  }
  &__section-subtitle-text{
    font-size: 3rem;
  }
  &__section-subtitle-icon{
    font-size: 3.4rem;
  }
  &__item{
    padding-left: 22px;
    padding-right: 22px;
    &--mb-l{
      margin-bottom: 117px;
    }
  }
  &__item-name{
    font-size: 2.7rem;
  }

  &__item-price{
    font-size: 2.7rem;
  }
  &__item-desc{
    font-size: 1.75rem;
  }



}
.page-footer{
  padding: 39px 37px;
}
}